<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas


**Same assignment as a [Kaggle Kernel](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset) + [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution).**

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [2]:
import numpy as np
import pandas as pd

pd.set_option("display.max.columns", 100)
# to draw pictures in jupyter notebook
%matplotlib inline
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings

import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv("../../data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [4]:
# You code here
data['sex'].value_counts().to_frame()

          sex
Male    21790
Female  10771

**2. What is the average age (*age* feature) of women?**

In [5]:
# You code here
data.loc[data['sex'] == 'Female', 'age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [6]:
# You code here
task_three = data['native-country'].value_counts()
task_three["Germany"]/task_three.sum()

0.004207487485028101

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [7]:
# You code here
print(data.groupby('salary')['age'].std())
print(data.groupby('salary')['age'].mean())

salary
<=50K    14.020088
>50K     10.519028
Name: age, dtype: float64
salary
<=50K    36.783738
>50K     44.249841
Name: age, dtype: float64

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [8]:
# You code here
pd.crosstab(data['salary'], data['education'])

education,10th,11th,12th,1st-4th,5th-6th,7th-8th,9th,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
salary,,,,,,,,,,,,,,,,
<=50K,871,1115,400,162,317,606,487,802,1021,3134,107,8826,764,51,153,5904
>50K,62,60,33,6,16,40,27,265,361,2221,306,1675,959,0,423,1387

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [9]:
# You code here
print(data.groupby('race')['sex'].describe())
print()
print(data[(data['race'] == 'Amer-Indian-Eskimo') & (data['sex'] == 'Male')]['age'].max())

                    count unique   top   freq
race
Amer-Indian-Eskimo    311      2  Male    192
Asian-Pac-Islander   1039      2  Male    693
Black                3124      2  Male   1569
Other                 271      2  Male    162
White               27816      2  Male  19174

82

In [27]:
for (race, sex), sub_df in data.groupby(["race", "sex"]):
    print("Race: {0}, sex: {1}".format(race, sex))
    print(sub_df["age"].describe())

Race: Amer-Indian-Eskimo, sex: Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race: Amer-Indian-Eskimo, sex: Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race: Black, sex: Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Black, sex: Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Other, sex: Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race: Other, sex: Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race: White, sex: Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: White, sex: Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [43]:
# You code here
new_data = data[data["marital-status"].apply(lambda x: x[0] == "M")]
new_data_2 = data[data["marital-status"].apply(lambda x: x[0] != "M")]

In [47]:
print(pd.crosstab(new_data["salary"], new_data["sex"]))
print(pd.crosstab(new_data_2["salary"], new_data_2["sex"]))

sex     Female  Male
salary
<=50K     1105  7576
>50K       771  5965
sex     Female  Male
salary
<=50K     8487  7552
>50K       408   697

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours and what is the percentage of those who earn a lot among them?**

In [61]:
# You code here
number = data['hours-per-week'].max()
hours = data['hours-per-week'].value_counts()
print(hours[99])

85

In [71]:
high_sal = data[(data['hours-per-week'] == 99) & (data['salary'] == '>50K')]['salary'].count()

print(high_sal/hours[99])

0.29411764705882354

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [86]:
# You code here
for country in data["native-country"].unique():
    print(country)
    
    if(country == 'Japan'):
        print("---------------->!")
    
    print(data[(data["native-country"] == country) & (data["salary"] == ">50K")]["hours-per-week"].mean())
    print(data[(data["native-country"] == country) & (data["salary"] == "<=50K")]["hours-per-week"].mean())

United-States
45.50536884674383
38.79912723305605
Cuba
42.44
37.98571428571429
Jamaica
41.1
38.23943661971831
India
46.475
38.233333333333334
?
45.54794520547945
40.16475972540046
Mexico
46.57575757575758
40.00327868852459
South
51.4375
40.15625
Puerto-Rico
39.416666666666664
38.470588235294116
Honduras
60.0
34.333333333333336
England
44.53333333333333
40.483333333333334
Canada
45.64102564102564
37.91463414634146
Germany
44.97727272727273
39.13978494623656
Iran
47.5
41.44
Philippines
43.032786885245905
38.065693430656935
Italy
45.4
39.625
Poland
39.0
38.166666666666664
Columbia
50.0
38.68421052631579
Cambodia
40.0
41.416666666666664
Thailand
58.333333333333336
42.86666666666667
Ecuador
48.75
38.041666666666664
Laos
40.0
40.375
Taiwan
46.8
33.774193548387096
Haiti
42.75
36.325
Portugal
41.5
41.93939393939394
Dominican-Republic
47.0
42.338235294117645
El-Salvador
45.0
36.03092783505155
France
50.75
41.05882352941177
Guatemala
36.666666666666664
39.36065573770492
China
38.9
37.38181818181818
Japan
---------------->!
47.958333333333336
41.0
Yugoslavia
49.5
41.6
Peru
40.0
35.06896551724138
Outlying-US(Guam-USVI-etc)
nan
41.857142857142854
Scotland
46.666666666666664
39.44444444444444
Trinadad&Tobago
40.0
37.05882352941177
Greece
50.625
41.80952380952381
Nicaragua
37.5
36.09375
Vietnam
39.2
37.193548387096776
Hong
45.0
39.142857142857146
Ireland
48.0
40.94736842105263
Hungary
50.0
31.3
Holand-Netherlands
nan
40.0